<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.lockbook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lb</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Lockbook uses the camera to capture photos into your documents and to scan account QR codes.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Lockbook uses Face ID to protect access to your account keys.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>net.lockbook.metadata</string>
			<key>UTTypeDescription</key>
			<string>Lockbook file metadata</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
