[Unit]
Description=Grafana loki log server
Documentation=https://grafana.com/docs/loki/latest/

[Service]
Restart=always
User=root
ExecStart=/usr/bin/loki --config.file="/etc/loki/loki.yml" --boltdb.dir="/var/lib/loki"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
