[Unit]
Description=Grafana promtail for exporting logs
Documentation=https://grafana.com/docs/loki/latest/clients/promtail/

[Service]
Restart=always
User=root
ExecStart=/usr/bin/promtail --config.file="/etc/promtail/promtail.yml"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
