[Desktop Entry]
Encoding=UTF-8
Type=Application
Comment=The private, polished note-taking platform.
Terminal=false
Exec=lockbook-desktop
Name=Lockbook
Icon=${SNAP}/meta/gui/logo.svg
