[package]
version = "0.7.6"
name = "lockbook-cli"
edition = "2021"

[[bin]]
name = "lockbook"
path = "src/main.rs"

[dependencies]
cli-rs = "0.1.2"
lb = { path = "../../libs/core", package = "lockbook-core" }
is-terminal = "0.4.7"
hotwatch = "0.5.0"
