[package]
name = "lockbook-cli"
version = "0.2.25"
authors = ["parth"]
edition = "2018"

[[bin]]
name = "lockbook"
path = "src/main.rs"

[dependencies]
lockbook-core = { path = "../../core" }
lockbook-models = { path = "../../core/libs/models" }
structopt = "0.3.13"
uuid = "0.8"
serde_json = "1.0.44"
chrono = "0.4"
qr2term = "=0.2.1"
hotwatch = "0.4.5"
atty = "0.2"
