[package]
name = "lockbook-cli"
version = "0.7.3"
edition = "2021"
description = "The private, polished note-taking platform."

[[bin]]
name = "lockbook"
path = "src/main.rs"

[dependencies]
is-terminal = "0.4.7"
clap = { version = "4.1.4", features = ["derive"] }
clap_complete = "4.3.1"
strum = { version = "0.24", features = ["derive"] }
shellwords = "1.1.0"
hotwatch = "0.4.6"
lb = { path = "../../libs/core", package = "lockbook-core" }
