[package]
name = "lockbook-cli"
version = "0.7.5"
edition = "2021"
description = "The private, polished note-taking platform."

[[bin]]
name = "lockbook"
path = "src/main.rs"

[dependencies]
is-terminal = "0.4.7"
clap = { version = "4.1.4" }
hotwatch = "0.4.6"
lb = { path = "../../libs/core", package = "lockbook-core" }
