**/target/*
**/build/*
.git
graphics
.DS_Store
docs
*.iml
**/.gradle/*
clients/android/local.properties
clients/android/.idea/caches/**
clients/android/.idea/libraries/**
clients/android/.idea/modules.xml
clients/android/.idea/workspace.xml
clients/android/.idea/navEditor.xml
clients/android/.idea/assetWizardSettings.xml
.DS_Store
clients/android/captures/**
clients/android/core/src/main/jniLibs
**/.build/*
clients/apple/CLockbookCore/Sources/CLockbookCore/include/lockbook_core.h
clients/apple/CLockbookCore/Sources/CLockbookCore/lib/liblockbook_core.a
