.vscode/
xcuserdata/

*.xcscmblueprint
*.xccheckout

build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.hmap

*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
**/.swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

iOSInjectionProject/
.DS_Store
clients/apple/include/
clients/apple/libs/

**/target/
book/

lb-rs/lb_rs.h

server/server/**/*.rs.bk
server/server/ca-certificate.crt
server/server/qa-ca-certificate.crt
.idea/
*.iml
containers/qa.env
containers/prod.env
containers/devtest.env
server/server/qa-ca-certificate.crt
clients/android/lb-rs/src/main/jniLibs/
clients/android/workspace/src/main/jniLibs/
liblb_external_interface.a
lb_rs.h
*.log
lb_rs.dll

*.pem
*.crt
lockbook-server.prod
lockbook-server

!docs/guides/build

libs/content/workspace-ffi/SwiftWorkspace/Libs/
libs/content/workspace-ffi/include/
clients/apple/lockbook.xcworkspace/xcshareddata/swiftpm/Package.resolved

# website
public-site/public
public-site/templates/base.html 
public-site/trunk-build
book/

.vscode
