graphics/** filter=lfs diff=lfs merge=lfs -text
docs/design-ui/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/design-ui/**/*.jpg filter=lfs diff=lfs merge=lfs -text
docs/design-ui/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
