/* * * * Layout * * * */
* {
	box-sizing: border-box;
}
.icons {
	display: flex;
	justify-content: flex-start;
	font-size: 0.9em;
}
.icon-header-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: -5px;
}
.dev-p {
	margin: 0;
}

i {
	font-size: 1.5em;
	padding: 10px;
}

html,
body {
	margin: 0;
	height: 100%;
	padding: 0;
}

.right-align {
	text-align: center;
}

#comparison-wrapper {
	overflow-x: scroll;
}
.vertical {
	flex-direction: column;
}
#comparison {
	font-size: 16px;
	width: 100%;
	text-align: center;
}
nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 0 50px;
	width: 100%;
	align-items: center;
	background: linear-gradient(var(--background) -50%, transparent);
	z-index: 3;
	top: 0;
}
.lockbook-link {
	text-decoration: none;
	color: var(--foreground);
}
.nav-links-container {
	display: flex;
	list-style: none;
}
.padded-link {
	display: inline-block;
	padding: 10px 20px;
}
#download-hero {
	position: relative;
}
#tagline-hero {
	margin-top: -10px;
	margin-bottom: 120px;
}
#hero-cta {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#device-mockup-collage {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 52%;
	content: url(device-mockup-collage-light.jpg);
}

#gui-download-center .indented-content p,
#cli-download-center .tagline {
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 17px;
}
#cli-download-center h2 {
	font-size: 30px;
}

#cli-download-center .get-lockbook-cli {
	font-size: 18px;
	border-radius: 0 !important;
}
#cli-download-center #available-platforms {
	opacity: 0.7;
}
#cli-download-center .left .centered > div {
	flex: 1;
}
#social {
	height: auto;
	padding: 3em 1em;
}

.cta-container {
	display: flex;
	justify-content: center;
}
.cta-container a,
#social h2 {
	text-align: center;
}
article#tos,
article#account-deletion,
article#privacy-policy {
	max-width: 700px;
	padding: 0 4vw;
	margin: 5em auto;
}

p.code {
	font-family: monospace;
	font-size: 0.7em;
}

@media (min-aspect-ratio: 1/1), (min-width: 800px) {
	@media (min-height: 450px) {
		.container {
			height: 100%;
		}
	}

	@media (max-height: 450px) {
		.container {
			min-height: 100%;
		}
	}

	.container {
		width: 100%;
		display: flex;
	}

	.left,
	.right {
		height: 100%;
		width: 50%;
	}

	.indented-content {
		padding-left: 170px;
		width: 100%;
	}
	.centered {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	#hero-cta .get-lockbook-gui,
	.get-lockbook-cli {
		margin-right: 20px;
	}
	#download-hero .centered {
		align-items: baseline;
		padding-top: 220px;
	}

	.content {
		padding: 50px;
		width: 100%;
	}

	#cli-download-center .left .centered {
		padding: 50px;
	}
}

@media (max-aspect-ratio: 1/1) and (max-width: 800px)  {
	.container {
		padding: 30px 10%;
	}
	div.mockup-img-container {
		justify-content: center;
	}
	nav {
		display: none;
	}
	#device-mockup-collage {
		display: none;
	}
	#cli-download-center {
		display: flex;
		flex-direction: column-reverse;
	}
	#hero-cta {
		flex-direction: column;
		text-align: center;
		align-items: initial;
	}
	#download-hero .indented-content {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

/* * * * Font * * * */
html {
	font-size: 16px;
}

@media screen and (min-width: 320px) {
	html {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}

@media screen and (min-width: 1000px) {
	html {
		font-size: 22px;
	}
}

body {
	font-family: "Lato", sans-serif;
}

h1 {
	font-weight: 700;
}

p {
	font-weight: 300;
}

#available-platforms {
	font-size: 16px;
}

#download-hero h1 {
	line-height: 40px;
}

/* * * * Colors * * * */

.button {
	text-decoration: none;
	color: var(--foreground);
}
.link.filled-link {
	color: var(--background);
	background-color: var(--blue);
}
.link.bordered-link {
	border: 1px solid var(--blue);
	background-color: transparent;
}

.link {
	color: var(--blue);
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-weight: 300;
	cursor: pointer;
	background: transparent;
	border: none;
}
.lockbook-home-link {
	text-decoration: none;
	color: var(--foreground);
}
.active {
	text-decoration: underline var(--blue);
}
#term-icon:hover {
	filter: invert(0.5);
	transition: color 250ms linear;
}

#apple-icon:hover {
	color: rgb(142, 142, 142);
	transition: color 250ms linear;
}

#windows-icon:hover {
	color: var(--blue);
	transition: color 250ms linear;
}

#android-icon:hover {
	color: rgb(52, 199, 89);
	transition: color 250ms linear;
}

#linux-icon:hover {
	color: rgb(175, 82, 222);
	transition: color 250ms linear;
}

h1 {
	color: var(--foreground);
	font-size: 2em;
}

#native,
#pricing,
#social,
#gui-download-center {
	background: var(--background-900);
	color: var(--foreground);
}
#cli-download-center {
	background-color: var(--foreground);
	z-index: 2;
	position: relative;
	color: var(--background);
	font-family: "Space Mono";
}

#intro-img {
	content: url(intro-dark.png);
}
.mockup-img-container {
	display: flex;
	justify-content: flex-end;
}

#mockup-img {
	width: 80%;
	object-fit: contain;
	content: url(mockup-light.png);
}
* {
	--background: white;
	--background-900: rgb(225, 225, 225);
	--blue: rgb(0, 122, 255);
	--foreground: black;
}

@media (prefers-color-scheme: dark) {
	* {
		--background: black;
		--background-900: rgb(25, 25, 25);
		--foreground: white;
	}
	html {
		background: black;
		color: white;
	}

	h1 {
		color: white;
	}

	#intro-img {
		content: url(intro-light.png);
	}
	#mockup-img {
		content: url(mockup-dark.png);
	}
	#device-mockup-collage {
		content: url(device-mockup-collage-dark.jpg);
	}
	
	#cli-download-center {
		color: var(--foreground);
		background-color: var(--background-900);
	}
}

.good {
	color: rgb(52, 199, 89);
	font-size: 1.25em;
}

.bad {
	color: rgb(255, 149, 0);
	font-size: 1.25em;
}

/* * * * Animations * * * */

.content {
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
