<h4>Beautiful</h4>
<p>Clear, snappy, native user interfaces. Deep support for offline use and background sync.</p>

<h4>Secure</h4>
<p>All user generated content is encrypted on clients with keys that never leave the client.</p>

<h4>Private</h4>
<p>Clients select usernames. No verification using phone numbers or emails. 0 metadata - with a straightforward business model: $/gb</p>

<h4>Open Source</h4>
<p>This is free and unencumbered software released into the public domain.</p>

<h4>Everywhere</h4>
<p>Native support for: Linux, macOS, iOS, iPadOS, Android, and Windows</p>