<h2>Secure</h2>
<p>All user generated content is <a href="https://en.wikipedia.org/wiki/End-to-end_encryption">encrypted</a> on clients with keys that never leave your hands.</p>
<p>No Lockbook employee, cloud provider, or state actor can view your content.</p>

<h2>Minimal</h2>
<p>Clear, snappy, native user interfaces. Deep support for offline use and background sync.</p>
<p>Our clients include a CLI which requires no dependencies, and invokes your favorite text editor.</p>
<p>Minimal software is secure software.</p>

<h2>Private</h2>
<p>No verification, no emails, no passwords.</p>
<p>Our business model is straightforward ($/gb) and doesn't include selling your data.</p>

<h2>Open Source</h2>
<p>Secure software <a href="https://en.wikipedia.org/wiki/Security_through_obscurity">cannot be closed</a> source. This is free and unencumbered software released into the public domain.</p>
<p>Open source makes it easy for security researchers to inspect our code and provide feedback.</p>
<p>Problems are discussed <a href="https://github.com/lockbook/lockbook/issues">openly</a> and <a href="https://github.com/lockbook/lockbook/pulls">anyone</a> can improve our software.</p>

<h2>Everywhere</h2>
<p>Native support for: Linux, macOS, iOS, iPadOS, Android, and Windows</p>
<p>We capture the essence of each device / platform.</p>
<p>This means a scriptable cli on linux, and Apple Pencil support on for our iPad app.</p>
