html,
body {
    color: $color-foreground;
    margin: 1rem;
    padding: 0;
}

html {
    font-size: 16px;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-background;
}

a {
    @include transition(color .2s ease-out);
    color: $color-foreground;
    text-decoration: none;
    font-size: 2rem;

    &:hover {
        color: $color-hover;
    }
}

h1 {
    font-size: 3 rem;
    font-family: monospace;
    font-weight: lighter;


}

h2 {
    font-size: 3rem;
    font-family: monospace;
    font-weight: normal;
    padding: none;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}


.availble_everwhere {
    font-weight: normal;
    padding: 10px 5px;
}

@media screen and (max-width: $break-large) {
    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 2.5rem;
    }
}

img.portrait {
    box-sizing: border-box;
    border-radius: 50%;
    border: 10px solid $color-foreground;
    margin: 2em 3em;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}
