[Unit]
Description=Prometheus instance
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
Restart=always
User=root
ExecStart=/usr/bin/prometheus --config.file="/etc/prometheus/prometheus.yml" --storage.tsdb.path="/var/lib/prometheus/metrics2/"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
