Source: lockbook
Section: utils
Priority: extra
Maintainer: Parth Mehrotra <parth@mehrotra.me>
Standards-Version: 0.8.0
Build-Depends: debhelper (>=10), git, ca-certificates

Package: lockbook
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The private, polished note-taking platform.
