#!/usr/bin/make -f

clean:
	dh clean

build:
	dh build
	(export PATH="/home/parth/.cargo/bin:$$PATH" && cargo build --release --manifest-path ../../../../../../clients/cli/Cargo.toml)

build-arch:

build-indep:

binary:
	mkdir -p debian/lockbook/usr/bin
	mkdir -p debian/lockbook/usr/share/fish/vendor_completions.d
	mkdir -p debian/lockbook/usr/share/zsh/site-functions
	mkdir -p debian/lockbook/usr/share/bash-completion/completions

	mv ../../../../../../target/release/lockbook debian/lockbook/usr/bin
	./debian/lockbook/usr/bin/lockbook completions fish > debian/lockbook/usr/share/fish/vendor_completions.d/lockbook.fish
	./debian/lockbook/usr/bin/lockbook completions zsh > debian/lockbook/usr/share/zsh/site-functions/_lockbook
	./debian/lockbook/usr/bin/lockbook completions bash > debian/lockbook/usr/share/bash-completion/completions/lockbook
	
	strip --strip-all debian/lockbook/usr/bin/lockbook
	dh_gencontrol
	dh_builddeb

binary-arch:

binary-indep:
