[package]
name = "lockbook-desktop"
version = "0.1.5"
edition = "2018"

[dependencies]
fuzzy-matcher = "*"
lockbook-core = { path = "../../core" }
lockbook-models = { path = "../../core/libs/models" }
gdk = "0.13.2"
gdk-pixbuf = "0.9.0"
glib = "0.10"
gtk = { version = "0.9.0", features = ["v3_22"] }
gio = { version = "0.9.1", features = ["v2_44"] }
gspell = "0.5.0"
pango = "0.9.1"
qrcode-generator = "*"
regex = "1.5.4"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.8"
sourceview = "0.9.0"
uuid = { version = "0.8.1", features = ["v4", "serde"] }
