.onboard-heading {
	font-size: 28px;
	font-weight: bold;
}
.settings-heading {
	font-size: 20px;
}
.menu-item {
	margin: 0;
	padding: 0;
}
#err {
	color: red;
}
.tree-msg {
	padding-top: 8px;
	padding-bottom: 8px;
	background: rgba(0, 0, 0, .2);
	margin-left: 2px;
	margin-right: 2px;
}
