{{ define "main" }}

<style>
main {
	max-width: 1250px;
	margin: auto;
}
hr {
	margin-bottom: 2rem;
}
</style>

<main>
   <h1 class="logo">Lockbook</h1>
   <hr>

   <div class="block introduction">
        <div class="column left">
            <center>
                <img src="images/screenshots.png" width="466" height="344" />
                
                <h3 class="available_everywhere"> <center>Available Everywhere</center></h3>

                <div>
                     {{- range .Site.Params.links -}}
                        <a class="getIcons" href="{{ .url | safeURL }}" title="{{ .title }}">
                            <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}" /span>
                        </a>
                     {{- end -}}
                </div>

            </center>

        </div>
        <div class="column right">
            <p>{{- partial "introduction.html" . -}}</p>

        </div>
    </div>
</main>

{{ end }}
