{{ define "main" }}

<main>
   <div class="block introduction">
        <div class="column left">
            <center>
                <img src="images/screenshots.png" width="466" height="344" />
                
                <h3 class="available_everywhere"> <center>Available Everywhere</center></h3>

                <div class="links">
                     {{- range .Site.Params.links -}}
                        <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                            <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}" /span>
                        </a>
                     {{- end -}}
                </div>

            </center>

        </div>
        <div class="column right">
            <h2>Lockbook </h2>
            <h3>Beautiful, secure, open source, everywhere.</h3>
            <p>{{- partial "introduction.html" . -}}</p>

        </div>
    </div>
</main>

{{ end }}
