[package]
name = "lockbook-egui"
version = "0.9.10"
edition = "2021"

[dependencies]
dark-light = "1.0.0"
egui = "0.26.2"
eframe = "0.26.2"
egui-notify = "0.13.0"
egui-winit = "0.26.2"
egui_wgpu_backend = "0.28"
egui_extras = { version = "0.26.2", features = ["image"] }
env_logger = "0.10"
image = { version = "0.24", default-features = false, features = [
    "png",
    "jpeg",
    "gif",
    "webp",
    "bmp",
    "ico",
] }
lb = { package = "lb-rs", path = "../../libs/lb/lb-rs", default-features = false, features = [
    "native-tls",
] }
lb-fonts = { git = "https://github.com/lockbook/lb-fonts" }
lbeditor = { package = "egui_editor", path = "../../libs/content/editor/egui_editor" }
minidom = { git = "https://github.com/lockbook/minidom" }
pdfium-render = "0.8.5"
rfd = "0.11.4"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82"
workspace = { path = "../../libs/content/workspace" }
