[package]
name = "lockbook-egui"
version = "0.8.2"
edition = "2021"

[dependencies]
lb = { package = "lockbook-core", path = "../../libs/lb/core", default-features = false, features=["native-tls"] }
lbeditor = { package = "egui_editor", path = "../../libs/content/editor/egui_editor" }
eframe = "0.22.0"
egui-notify= "0.7.0"
egui-winit = "0.22.0"
egui_extras = { version = "0.22.0", features = ["image"] }
image = { version = "0.24", default-features = false, features = ["png", "jpeg", "gif", "webp", "bmp", "ico"] }
dark-light = "1.0.0"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82"
rfd = "0.11.4"
lb-fonts = "0.1.1"
lb-pdf = "0.1.1"
pdfium-render = "0.8.5"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
