<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:version="1"
        android:required="true" />
    <!--
        allowBackup is set to false because it may backup keys in plaintext to google drive

        can explore setting it to true when / if keys are stored in secure element
    -->
    <application
        android:name="app.lockbook.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.InitialLaunchFigureOuter"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screen.CaptureActivityAutoRotate"
            android:theme="@style/AppTheme.QRCapture" />
        <activity
            android:name=".screen.OnBoardingActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".screen.ImportAccountActivity"
            android:alwaysRetainTaskState="true" />
        <activity android:name=".screen.MainScreenActivity" />
        <activity android:name=".screen.SettingsActivity" />
        <activity android:name=".screen.DebugInfoActivity" />
        <activity android:name=".screen.UpgradeAccountActivity" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="app.lockbook.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_path" />
        </provider>
        <activity
            android:name=".screen.ShareReceiverActivity"
            android:exported="true">

            <!-- Handle single file sharing -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- Handle multiple files sharing -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>