<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.lockbook">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
        allowBackup is set to false because it may backup keys in plaintext to google drive

        can explore setting it to true when / if keys are stored in secure element
    -->
    <application
        android:name="app.lockbook.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DarkBlue">
        <activity
            android:name=".screen.InitialLaunchFigureOuter"
            android:noHistory="true"
            android:theme="@style/DarkBlue.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.WelcomeActivity"
            android:theme="@style/DarkBlue.NoActionBar" />
        <activity
            android:name=".screen.NewAccountActivity"
            android:theme="@style/DarkBlue.NoActionBar" />
        <activity
            android:name=".screen.ImportAccountActivity"
            android:theme="@style/DarkBlue.NoActionBar" />
        <activity
            android:name=".screen.HandwritingEditorActivity"
            android:theme="@style/DarkBlue.NoActionBar" />
        <activity android:name=".screen.ListFilesActivity" />
        <activity android:name=".screen.SettingsActivity" />
        <activity android:name=".screen.TextEditorActivity" />
        <activity android:name=".screen.LogActivity" />
    </application>

</manifest>