#onboarding_heading {
    font-size: 64px;
    opacity: 0.75;
}

#onboarding_hr {
    background: rgba(100, 100, 100, 0.35);
}

#err, #onboarding_error {
    color: red;
}

#onboarding_error {
    font-weight: bold;
}

#onboarding_doing_caption {
    font-size: 20px;
}
