#!/usr/bin/make -f

clean:
	dh clean

build:
	dh build
	curl https://sh.rustup.rs -sSf | bash -s -- -y
	(export PATH="/root/.cargo/bin:$$PATH" && cargo build --release --manifest-path ../../../../clients/linux/Cargo.toml)

build-arch:

build-indep:

binary:
	mkdir -p debian/lockbook-desktop/usr/bin
	mkdir -p debian/lockbook-desktop/usr/share/applications
	mkdir -p debian/lockbook-desktop/usr/share/pixmaps

	cp ../../../../target/release/lockbook-desktop debian/lockbook-desktop/usr/bin/lockbook-desktop
	cp lockbook-desktop.desktop debian/lockbook-desktop/usr/share/applications
	cp ../../../../graphics/SVGs/dark-1.svg debian/lockbook-desktop/usr/share/pixmaps

	strip --strip-all debian/lockbook-desktop/usr/bin/lockbook-desktop
	dh_gencontrol
	dh_builddeb

binary-arch:

binary-indep:
