[package]
name = "winstaller"
version = "26.1.29"
edition = "2021"

[target.'cfg(windows)'.dependencies]
eframe = "0.28.1"
egui_extras = { version = "0.28.1", features = ["image"] }
image = { version = "0.24", features = ["png"] }
mslnk = "0.1.8"

[features]
build-winstaller = []
