name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - docs/**
  workflow_dispatch:
    workflow_dispatch:
      inputs:
        git-ref:
          description: Ref (Branch)
          required: true

jobs:
  Server:
    runs-on: [self-hosted, builder]
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      HASH: ${{ github.sha }}
    steps:
    - uses: actions/checkout@v2
      if: github.event.inputs.git-ref == ''
    - uses: actions/checkout@v2
      if: github.event.inputs.git-ref != ''
      with:
        ref: ${{ github.event.inputs.git-ref }}
    - name: Build Server
      working-directory: server
      run: |
        echo $PATH
        cargo build --release
    - name: Archive Build
      uses: actions/upload-artifact@v2
      with:
        name: lockbook-server-${{ github.sha }}
        path: server/target/release/lockbook-server
