name: Integration

on:
  push:
    branches: [ master ]
    paths-ignore:
      - docs/**
  pull_request:
    branches: [ master ]

jobs:
  Checks:
    runs-on: [self-hosted, ci]
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CARGO_TARGET_DIR: /home/parth/lockbook-ci-cache/target
    steps:
    - uses: actions/checkout@v2
#     - name: Install Nightly
#       run: rustup toolchain install nightly
#     - name: Install udeps
#       run: cargo install cargo-udeps --locked
    - name: Check Workspace Fmt
      run: whoami
    - name: Check Workspace Fmt
      run: cargo run -p lockbook-dev -- check-workspace-fmt
    - name: Check Workspace Clippy
      run: cargo run -p lockbook-dev -- check-workspace-clippy
# - name: Check Unused Dependencies
#   run: cargo run -p lockbook-dev -- check-workspace-udeps
    - name: Run Server
      run: cargo run -p lockbook-dev -- run-server
    - name: Run Rust Tests
      run: cargo run -p lockbook-dev -- run-rust-tests
      # - name: Run Swift Tests
      #   run: cargo run -p lockbook-dev -- run-swift-tests
      # - name: Run Android Fmt
      #   run: cargo run -p lockbook-dev -- check-android-fmt
      # - name: Run Android Lint
      #   run: cargo run -p lockbook-dev -- check-android-lint
      # - name: Run Kotlin Tests
      #   run: cargo run -p lockbook-dev -- run-kotlin-tests
    - name: Server Logs
      if: always()
      run: cargo run -p lockbook-dev -- print-server-logs
    - name: Check Lock File
      run: cargo run -p lockbook-dev -- assert-git-clean
    - name: Cleanup
      if: always()
      run: cargo run -p lockbook-dev -- kill-server
