name: Monitor Server

on:
  schedule:
    - cron:  '*/5 * * * *'
jobs:
  Server-Status:
    if: github.repository == 'lockbook/lockbook'
    runs-on: ubuntu-latest
    env:
      STATUS_API_URL: https://api.prod.lockbook.net/get-build-info
      PD_API_KEY: ${{ secrets.PD_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: 'Check on server'
        working-directory: utils/dev
        run: ./page_if_server_down.sh
