[Unit]
Description=Lockbook Server

[Service]
Restart=always
User=root
EnvironmentFile=/etc/default/lockbook-server
ExecStart=/usr/bin/lockbook-server
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
